<h1>Done </h1>
<div class="hold" dragula="<>123">
    <div class="Done">Task 1 : Wash Clothes </div>
    <div class="Done">Task 2 : Take out the trash! </div>
    <div class="Done">Task 3 : Shop for essentials </div>
  </div>


<h1>To do </h1>
<div class="hold" dragula="<>123">

    <div class="ToDo">Task 4 : Cut the Vegetables for Cooking </div>
    <div class="ToDo">Task 5 : Make Dinner </div>
    <div class="ToDo">Task 6 : Make Bed </div>
  </div>







  <h1>Low Priority Tasks</h1>
  <div class="hold" dragula="<>123">
    <div class="LowPriority">Task 7 : Adjust the thermostat </div>
    <div class="LowPriority">Task 8 : Clean the windows  </div>
    <div class="LowPriority">Task 9 : Mow the lawn  </div>
  </div>





  <h1>Not Relevant</h1>
  <div class="hold" dragula="CannotMove">

    <div class="notRelevant">Task 10 : Build a dog house </div>
    <div class="notRelevant">Task 11 : Go for a drive </div>
    <div class="notRelevant">Task 12 : Fix a virtual meetup with friends  </div>
  </div>


 <!-- Instead of tasks or text even images or videos can also be dragged and dropped when under dragula div
Just replace <div>"SOME TEXT"</div> with an image src reference <div>"Image src"</div>
-->
